/* Style the header with a grey background and some padding */d
html, body {
    height: 100%;
}


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  padding-left: 10vh;
  padding-right: 10vh;

  position: fixed;
  width: 91%;
    
}
  
  /* Style the header links */
.header a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px;
line-height: 25px;
border-radius: 4px;
}

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
font-size: 25px;
font-weight: bold;
}
  
  /* Change the background color on mouse-over */
.header a:hover {
background-color: #ddd;
color: black;
}
  
  /* Style the active/current link*/
.header a.active {
background-color: dodgerblue;
color: white;
}
  
  /* Float the link section to the right */
.header-right {
float: right;
}


/*#############   BÄNNER  ############# */

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;   
   
  padding-top: 10vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/banner.jpg");
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
    
    
    
}
.heroImage h1 {
  font-size: 8vh;
  font-weight: 800;
  padding-bottom: 1rem;
  letter-spacing: -0.050em;
}
.heroImage h1,h3 {   
    
    color: white;
    padding: 0.5rem
}

/*#############   Kuulutused  ############# */

.container {
  
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 10vh;
}

.item {
  width: 32%;
  padding-bottom: 18%; /* 32:18, i.e. 16:9 */
  margin-bottom: 2%; /* (100-32*3)/2 */

  position: relative;

}

.container header {
  position: absolute;
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px 0; /* Some padding */ 
  
}

.container a {
  color: inherit;
  text-decoration: none; 
}

.container header h1 {
  margin: 1vh;
  font-size: 3vh;
}







