
d html,
body {
  height: 100%;
  background-color: #f0f3bd;
}

/*#############   BÄNNER  ############# */

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 10vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("../img/banner.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
}
.heroImage h1 {
  font-size: 8vh;
  font-weight: 800;
  padding-bottom: 1rem;
  letter-spacing: -0.05em;
}
.heroImage h1,
h3 {
  color: #f0f2f1;
  padding: 0.5rem;
}

/*#############   Kuulutused  ############# */

.container {
  padding-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 10vh;
}

.item {
  width: 32%;
  padding-bottom: 18%; 
  margin-bottom: 2%; 
  

  position: relative;
}

.container header {
  position: absolute;
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px 0; /* Some padding */
}

.container a {
  color: inherit;
  text-decoration: none;
}

.container header h1 {
  margin: 1vh;
  font-size: 3vh;
}

.tutvustus {
  color: #234363;
  margin: 10vh;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.teine {
  margin: 2vh 0;
}

.tutvustus h4 {
  font-weight: bold;
}

.pealkiri {
  text-align: center;
  font-size: 3rem;
}

/* SLIDESHOW */

.karusell {
  position: relative;
  padding-top: 8vh;
}

.tekst {
  position: absolute;
  z-index: 3;

  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

.slide div {
  width: 100%;
  height: 59vh;
  object-fit: cover;
  background-repeat: no-repeat;
}

.karusell h1 {
  font-size: 8vh;
  font-weight: 800;
  padding-bottom: 1rem;
  letter-spacing: -0.05em;
}
.karusell h1,
h3 {
  color: #f0f2f1;
  padding: 0.5rem;
}
